.logo{
    display: inline-block;
    margin-top:20px;
}

.bg{
    background-image:linear-gradient(rgba(15,136,130,0.6),rgba(15,136,130,0.6)), url("mountains.jpg") ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
}

.white{
    color:white;
}

.button{
    background-color: transparent;
    border-color:black;
}

.margin{
    margin-top:140px;    
}

.grey{
    background-color: rgb(58, 58, 58);
    padding: 50px;
}

.blue{
    background-color: blue;
    color:white;
    padding: 20px;
    margin:35px;
    border-radius: 10px;
}

.borderBlue{
  
    border:1px solid blue;
    padding: 20px;
    margin:35px;
    border-radius: 10px;
}

.border-bottom{
    border-bottom: 3px solid grey;
    width: 20%;
    text-align: center;
    margin:0 auto;
}

.text{
    color:blue;
}

.bgGrey{
    background-color: lightgrey;
}
.mt{
    margin-top:20px;
}

.bgBlue{
    background-color: blue;
    padding: 30px;
}